.sub-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 24px;
    margin-top: 50%;
}

.sub-column h1 {
    font-size: 24px;
    font-weight: 400;
    color: white;
}